.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.emptyBoxContainer {
  display: flex;
  align-self: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.emptyBoxContainer > h2 {
  color: rgb(83, 83, 83);
}
