.dimensions {
  max-width: 200px;
}

@media (max-width: 630px) {
  .dimensions {
    max-width: 400px;
  }
}

.imageDimensions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.imageDimensions:hover {
  display: flex;
  align-self: center;
  width: 130px;
  height: 130px;
  cursor: pointer;
}
