.dimensions {
  max-width: 200px;
  position: relative;
}

@media (max-width: 630px) {
  .dimensions {
    max-width: 400px;
  }
}

.imageDimensions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.imageDimensions:hover {
  display: flex;
  align-self: center;
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.linking {
  text-decoration: none;
  color: rgb(0, 70, 128);
  font-size: 12px;
}

.RemoveFav {
  color: rgb(156, 169, 180);
  font-size: 12px;
}

.RemoveFav:hover {
  color: rgb(0, 70, 128);
}

.cardTitle {
  text-transform: capitalize;
}
